name: Draft Release

on:
  workflow_dispatch:

jobs:
  build:
    name: Draft Release
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v6

      - name: Get version
        run: |
          pipx install toml-cli
          echo VERSION=$(toml get --toml-path pyproject.toml project.version) >> $GITHUB_ENV

      - name: Release
        uses: softprops/action-gh-release@v2
        with:
          draft: true
          generate_release_notes: true
          tag_name: ${{ env.VERSION }}
