name: Tests

on:
  push:
    branches: ["master"]
  pull_request:
    branches: ["master"]

jobs:
  tests:
    name: "Python ${{ matrix.python-version }} on ${{ matrix.os }}"
    runs-on: ${{ matrix.os }}

    strategy:
      matrix:
        python-version: ["3.7", "3.8", "3.9", "3.10", "3.11"]
        os: [ubuntu-latest, macos-latest, windows-latest]
      fail-fast: false

    steps:
      - uses: "actions/checkout@v3"
        with:
          submodules: true
      - uses: "actions/setup-python@v3"
        with:
          python-version: "${{ matrix.python-version }}"
      - name: "Install dependencies"
        run: |
          python -VV
          python -m site
          python -m pip install --upgrade pip setuptools wheel virtualenv tox tox-gh-actions cython pytest

      - name: "Build CPP files using Cython"
        run: |
          sh -x update_cpp.sh

      - name: "Install DAWG for ${{ matrix.python-version }}"
        run: |
          pip install .

      - name: "Run tests for ${{ matrix.python-version }}"
        run: |
          python -m pytest

